	<div class="row">
	
	    <div class="col-md-5">
	      <a ui-sref="funcionario.insert" class="btn btn-primary">
	        <i class="glyphicon glyphicon-plus"></i>Novo
	      </a>
	
	      <button type="button" class="btn btn-danger" ng-click="funcionario.methods.delete(selectedValues)" gumga-confirm="Deseja remover?">
	        <i class="glyphicon glyphicon-trash"></i>Remover
	      </button>
	    </div>
	
	    <div class="col-md-7">
	        <gumga-query search="funcionario.methods.search(field,param)" advanced-search="funcionario.methods.advancedSearch(param)" saved-filters="funcionario.methods.getQuery(page)">
	            <search-field label="nome" field="nome"></search-field>
	            <search-field label="email" field="email"></search-field>
	            <search-field label="telefone" field="telefone"></search-field>
	            <search-field label="endereco" field="endereco"></search-field>
	            <search-field label="ativo" field="ativo"></search-field>
	            <search-field label="cpf" field="cpf"></search-field>
	            <search-field label="dataNascimento" field="datanascimento"></search-field>
	            <search-field label="capacidades" field="capacidades"></search-field>
	            <advanced-search-field  type="string"  label="nome" field="nome"></advanced-search-field>
	            <advanced-search-field  type="string"  label="email" field="email"></advanced-search-field>
	            <advanced-search-field  type="string"  label="telefone" field="telefone"></advanced-search-field>
	            <advanced-search-field  type="string"  label="endereco" field="endereco"></advanced-search-field>
	            <advanced-search-field  type="boolean"  label="ativo" field="ativo"></advanced-search-field>
	            <advanced-search-field  type="string"  label="cpf" field="cpf"></advanced-search-field>
	            <advanced-search-field  type="date"  label="dataNascimento" field="datanascimento"></advanced-search-field>
	            <advanced-search-field  type="string"  label="capacidades" field="capacidades"></advanced-search-field>
	        </gumga-query>
	    </div>
	</div>
	
	<div class="full-width-without-padding">
	    <gumga-list sort="funcionario.methods.sort(field, dir)"
	           class="table-striped table-condensed"
	            data="funcionario.data"
	            configuration="tableConfig">
	    </gumga-list>
	</div>

	<pagination ng-model="page"
	            max-size="10"
	            boundary-links="true"
	            previous-text="‹"
	            next-Text="›"
	            first-text="«"
	            last-text="»"
	            items-per-page="funcionario.pageSize"
	            total-items="funcionario.count"
	            ng-change="funcionario.methods.get(page)">
	</pagination>