	<form name="Modal">
	    <div class="modal-header">
	        <h3 class="modal-title" gumga-translate-tag="itempedidoservico.title"></h3>
	    </div>
	    <div class="modal-body" style="overflow: auto">
		

	<div gumga-form-class="servico">
		<label gumga-translate-tag="pedido.servico">servico</label>
	    <gumga-many-to-one
	            input-name="servico"
	            value="pedido.data.servico"
	            search-method="servico.methods.asyncSearch('nome', param)"
	            field="nome"
	            authorize-add="true"
	            post-method="servico.methods.asyncPost(value, 'nome')">
	    </gumga-many-to-one>
	</div>

		
	<div gumga-form-class="horas">
		<label gumga-translate-tag="pedido.horas">horas</label>
		<input gumga-error type="text" name="horas" ng-model="pedido.data.horas"  class="form-control" />
	</div>	    </div>
	    <div class="clearfix"></div>
	    <div class="modal-footer">
	        <button type="button" class="btn btn-primary" ng-click="ok(pedido.data)" ng-disabled="Modal.$invalid">OK</button>
	        <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
	    </div>
	</form>