	<form name="Modal">
	    <div class="modal-header">
	        <h3 class="modal-title" gumga-translate-tag="entrega.title"></h3>
	    </div>
	    <div class="modal-body" style="overflow: auto">
		
	<div gumga-form-class="quando">
		<label gumga-translate-tag="itempedidoproduto.quando">quando</label>
		<p class="input-group">
			<input type="text" name="quando" class="form-control"  uib-datepicker-popup="dd/MM/yyyy" ng-model="itempedidoproduto.data.quando" is-open="openedQuando" ng-click="openedQuando = !openedQuando" close-text="Close" />
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="open()">
					<i class="glyphicon glyphicon-calendar"></i>
				</button>
			</span>
		</p>
	</div>		
	<div gumga-form-class="quantidade">
		<label gumga-translate-tag="itempedidoproduto.quantidade">quantidade</label>
		<input gumga-error type="text" name="quantidade" ng-model="itempedidoproduto.data.quantidade"  class="form-control" />
	</div>		

	<div class="row">
		<div class="col-md-12">
			<gumga-address name="endereco" value="itempedidoproduto.data.endereco" street="false"> </gumga-address>
		</div>
	</div>
	    </div>
	    <div class="clearfix"></div>
	    <div class="modal-footer">
	        <button type="button" class="btn btn-primary" ng-click="ok(itempedidoproduto.data)" ng-disabled="Modal.$invalid">OK</button>
	        <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
	    </div>
	</form>